<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Detail Barang - Warehouse</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
        <!-- Bootstrap icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/custom.css}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" th:href="@{/}"><i class="bi bi-box2"></i> Warehouse</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/}">Home>Home</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/terhibah}">Terhibah</a></li>
                    </ul>
                    <div class="d-flex dropdown">
                        <button class="btn btn-light text-secondary dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-person-circle me-1"></i>
                            ryfazrin
                            <!-- <span class="badge bg-dark text-white ms-1 rounded-pill">0</span> -->
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" th:href="@{/user-profile}">Profile</a></li>
                            <li><a class="dropdown-item" th:href="@{/barangku}">Barangku</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item text-danger" th:href="@{/user-login}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Section-->
        <section class="container">
            <div class="px-4 px-lg-5 mt-5">
                <!-- <div class="row gx-4 gx-lg-5 row-cols-3 row-cols-md-3 row-cols-xl-1 justify-content-center"> -->
                    <div class="row justify-content-center">
                    <div class="col-md-10 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-md-4 d-flex flex-column justify-content-center">
                                        <img src="https://dummyimage.com/200x200/dee2e6/6c757d.jpg" class="img-thumbnail align-self-center" alt="...">
                                        <div class="text-center pt-4">
                                            <h4 class="fw-bolder text-primary">Fancy Product</h4>
                                            <hr>
                                            <p class="h4 m-0"><span class="badge badge-danger p-2"><i class="bi bi-handbag"></i> Tersalurkan</span></p>
                                        </div>
                                    </div>
                                    <div class="col-md-8 p-4">
                                        <div class="align-middle">
                                            <p>Kategori : <span class="text-secondary">Organik</span></p>
                                            <hr>
                                            <p>Jumlah : 10</p>
                                            <hr>
                                            <p>Deskripsi : </p> 
                                            <p class="text-justify text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque beatae iusto, quo officiis deserunt ab possimus culpa, nostrum sint quod repudiandae impedit corporis, magni nobis vitae? Tempora voluptas aspernatur enim.</p>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <!-- Product actions-->
                            <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-secondary mt-auto" href="#">Lihat barang</a></div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-secondary">
            <div class="container"><p class="m-0 text-right text-white">Copyright &copy; Warehouse 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
